[user]
  name = Tomasz Szczęśniak-Szlagowski
  email = spect88@gmail.com

[core]
  ignorecase = false
  excludesfile = ~/.gitignore_global

[alias]
  co = checkout
  ci = commit
  cim = commit --amend
  ca = commit -a
  cam = commit -a --amend
  cp = cherry-pick
  df = diff
  dfc = diff --cached
  dt = difftool
  st = status
  lp = log -p
  bl = blame
  aa = add -A
  sh = show
  l  = log --pretty=oneline
  pl = pull
  plup = pull upstream master
  ours = checkout --ours
  rim = rebase -i master
  theirs = checkout --theirs
  lgraph = log --graph --pretty=oneline --abbrev-commit
  cob = checkout -b
  ff = pull --ff-only
  merged = !git branch --merged | grep -v '\\*'
  sup = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
  fetchforce = !git fetch origin `git symbolic-ref --short HEAD` && git reset --hard origin/`git symbolic-ref --short HEAD`

[diff]
  tool = vimdiff
  noprefix = true

[difftool]
  prompt = false

[color]
  ui = auto

[filter "media"]
  clean = git media clean %f
  smudge = git media smudge %f
  required = true

[icdiff]
  options = --highlight --line-numbers

[mergetool "nvim"]
  cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[merge]
  tool = nvim
  conflictstyle = diff3

[mergetool]
  prompt = false
  keepBackup = false
